# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEA project metafiles
.idea

# Django Logs
log/*.log*

# DB related
app/migrations
db.sqlite3
db.sqlite3.bak

# third-party library
# DO NOT PUSH THE UNCOMPRESSED FOLDER, USUALLY THEY ARE TOOOOO LARGE!!
# (in any case possible, please archieve them with 7z)
lib/QA-Snake
